<!-- Product List -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- /.card -->

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Liste des produits</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Produit</th>
                  <th>Nom</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Prix</th>
                  <th>Stock</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products;">
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <img
                        [src]="
                          'http://localhost:3000/api/uploads/' +
                          product.image.split('\\')[2]
                        "
                        class="img-fluid me-5 rounded-circle"
                        style="width: 60px; height: 60px"
                        alt=""
                      />
                    </div>
                  </th>
                  <td>{{product.name}}</td>
                  <td>{{product.description}}</td>
                  <td>{{product.status}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.quantity}}</td>
                  <td>
                    <div class="d-flex align-items-center"><button type="button"
                      class="btn btn-sm btn-primary mx-1"
                       data-toggle="modal"
                        [attr.data-target]="'#updateProductModal' + product._id">
                       <i class="fas fa-pencil-alt"></i>
                     </button>
                     <button type="button" class="btn btn-sm btn-danger mx-1" (click)="confirmDelete(product._id)">
                       <i class="fas fa-trash"> </i>
                     </button></div>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Produit</th>
                  <th>Nom</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Prix</th>
                  <th>Stock</th>
                  <th>Action</th>
                </tr>
              </tfoot>

            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- Confirmation Modal
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmation de suppression</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer ce produit ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteProduct(confirmProductId)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
-->
<div *ngFor="let product of products" class="modal fade" [id]="'updateProductModal' + product._id" tabindex="-1" role="dialog" aria-labelledby="updateProductModalLabel" aria-hidden="true" #updateProductModal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateProductModalLabel">Modifier {{ product.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-update-product [product]="product" (productUpdated)="loadUserProducts()"></app-update-product>
      </div>
    </div>
  </div>
</div>
