<!-- Vesitable Shop Start-->
<div class="container-fluid vesitable py-5">
  <div class="container py-5">
    <h1 class="mb-0">Fresh Organic Vegetables</h1>
    <div class="mt-5 justify-content-center">
      <p-carousel
        [value]="products"
        [numVisible]="4"
        [numScroll]="4"
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
        autoplayInterval="3000"
      >
        <ng-template let-product pTemplate="item">
          <div
            class="border border-primary rounded position-relative vesitable-item mx-2"
          >
            <div class="vesitable-img">
              <img
                src="assets/client/client/img/vegetable-item-6.jpg"
                class="img-fluid w-100 rounded-top"
                alt=""
              />
              <p-tag
                [value]="product.inventoryStatus"
                [severity]="getSeverity(product.inventoryStatus)"
                class="absolute"
                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
              />
            </div>
            <div
              class="text-white bg-primary px-3 py-1 rounded position-absolute"
              style="top: 10px; right: 10px"
            >
              Vegetable
            </div>
            <div class="p-4 rounded-bottom">
              <h4>Parsely</h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit sed do
                eiusmod te incididunt
              </p>
              <div class="d-flex justify-content-between flex-lg-wrap">
                <p class="text-dark fs-5 fw-bold mb-0">$4.99 / kg</p>
                <a
                  href="#"
                  class="btn border border-secondary rounded-pill px-3 text-primary"
                  ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                  cart</a
                >
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
<!-- Vesitable Shop End -->
