<!-- product.component.html -->
<app-add-category (productAdded)="onProductAdded()"></app-add-category>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Produits</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right align-items-center">
            <li class="breadcrumb-item active">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">
                Ajouter un produit
              </button>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <app-add-product (productAdded)="onProductAdded()"></app-add-product>

    <app-list-product [products]="products"></app-list-product>
    
    <!-- /.container-fluid -->
  </section>
</div>
<!-- /.content-wrapper -->
