<div class="text-center login">
  <main class="form-signin w-100 m-auto rounded-3">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <img class="mb-4 rounded-circle" src="assets/logo.jpeg" alt="" width="80" height="65" />
      <h1 class="h3 mb-3 fw-normal">Connectez-vous à votre compte</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="name@mbeytech.com"
          [(ngModel)]="email"
          name="email"
          required
          email
          #emailInput="ngModel"
          (input)="clearError()"
        />
        <label for="email">Adresse Email</label>
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger">
          <div *ngIf="emailInput.errors?.['required']" class="text-start">L'adresse email est requise.</div>
        </div>
      </div>

      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Mot de passe"
          [(ngModel)]="password"
          name="password"
          required
          #passwordInput="ngModel"
          (input)="clearError()"
        />
        <label for="password">Mot de passe</label>
        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="text-danger">
          <div *ngIf="passwordInput.errors?.['required']" class="text-start">Le mot de passe est requis.</div>
        </div>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      <button class="w-100 btn btn-lg btn-success" type="submit" [disabled]="loginForm.invalid">
        Se connecter
      </button>
      <button class="w-100 btn my-2 btn-lg btn-secondary" routerLink="/register">
        Créer un compte
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2023–2024</p>
    </form>
  </main>
</div>
