
<!-- Login Start -->
<div class="container-fluid Login py-5">
  <div class="container py-5">
    <div class="p-5 bg-light rounded">
      <div class="p-5 row g-4">
        <div class="col-12">
          <div class="text-center mx-auto" style="max-width: 700px">
            <h1 class="text-primary">connexion</h1>
            
          </div>
        </div>
       
        <div class="col-lg-5 mx-auto">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
            <input
            formControlName="email"
              type="email"
              class="w-100 form-control border-0 py-3 mb-4"
              placeholder="Email"
              required 
            />
            <input
            formControlName="password"
              type="password"
              class="w-100 form-control border-0 py-3 mb-4"
              placeholder="Mot de passe"
            />
          
            <button
              class="w-100 btn form-control border-secondary py-3 bg-white text-primary"
              type="submit"
            >
              Envoyer
            </button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- Login End -->