<app-add-category (categoryAdded)="onCategoryAdded($event)"></app-add-category>
<app-update-category [category]="category" (categoryUpdated)="onCategoryUdated($event)"></app-update-category>
<app-delete-category
  (categoryDeleted)="onCategoryDeleted()"
></app-delete-category>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Catégories</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right align-items-center">
            <li class="breadcrumb-item active">
              <button
                class="btn btn-lg btn-primary mt-1"
                data-bs-toggle="modal"
                data-bs-target="#add-category"
              >
                <i class="fas fa-plus"> </i> Ajouter une catégorie
              </button>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row" *ngIf="categories.length === 0">
        <h4 class="mt-5">
          Vous n'avez pas encore de catégorie disponible. Si vous souhaitez
          ajouter une nouvelle catégorie veillez ciquer sur le boutton
          <b>Ajouter une catégorie</b>
        </h4>
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let item of categories">
          <div class="card card-widget widget-user">
            <div class="widget-user-header bg-dark">
              <h3 class="widget-user-username font-weight-bold text-primary">
                {{ item.nom }}
              </h3>
            </div>
            <div class="widget-user-image">
              <img
                class="img-circle elevation-2"
                [src]="'http://localhost:3000/api/uploads/' + item.image"
                alt="Categorie Avatar"
              />
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="justify-content-center col-sm-4 border-right">
                  <button
                    class="btn btn-sm btn-outline-primary"
                    (click)="getCategoryById(item._id)"
                    data-toggle="modal"
                    data-target="#update-category-modal"
                  >
                    Modifier
                  </button>
                </div>
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header"></h5>
                    <span class="description-text"></span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <button
                    class="btn btn-sm btn-outline-danger"
                    (click)="getId(item._id)"
                    data-toggle="modal"
                    data-target="#delete-category-modal"
                  >
                    supprimer
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
