<app-add-category></app-add-category>
<app-update-category></app-update-category>
<app-delete-category></app-delete-category>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Catégories</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right align-items-center">
            <li class="breadcrumb-item active">
              <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#add-category">
                <i class="fas fa-plus"> </i> Ajouter une catégorie
              </button>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4" *ngFor="let item of categories;">
          <div class="card card-widget widget-user">
            <div class="widget-user-header bg-dark">
              <h3 class="widget-user-username font-weight-bold text-primary">{{item.name}}</h3>
            </div>
            <div class="widget-user-image">
              <img
                class="img-circle elevation-2"
                src="assets/logo.jpeg"
                alt="Categorie Avatar"
              />
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="justify-content-center col-sm-4 border-right">
                  <button
                    class="btn btn-sm btn-outline-primary"
                    data-toggle="modal" data-target="#update-category"
                  >
                    Modifier
                  </button>
                </div>
                <div class="col-sm-4 border-right">
                  <div class="description-block">
                    <h5 class="description-header"></h5>
                    <span class="description-text"></span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <button class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#delete-category">
                    supprimer
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
