<div class="modal fade" id="detail-User">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Detail d'un utilisateur</h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <!-- <div class="card-body"> -->
            <div class="card-container">
              <!-- <span class="pro">PRO</span> -->
              <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
              <h3>{{user}}</h3>
              <h6>New York</h6>
              <p>User interface designer and <br/> front-end developer</p>

              <div class="skills">
                <h6>Skills</h6>
                <ul>
                  <li>UI / UX</li>
                  <li>Front End Development</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JavaScript</li>
                  <li>React</li>
                  <li>Node</li>
                </ul>
              </div>
            </div>

          <!-- </div> -->
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
            Fermer
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
