
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
          <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
            <div class="card col-lg-6 mx-auto">
              <div class="card-body px-5 py-5 ">
                <div class="d-flex justify-content-center align-items-center">
                  <img src="../../../../assets/logo.jpeg" style="width: 10%">
                </div>
                <h3 class="card-title text-center mb-3">s'inscrire</h3>
                <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6 form-group">
                          <label>Nom complet</label>
                          <input type="text" formControlName="nomComplet" class="form-control p_input">
                        </div>
                        <div class="col-md-6 form-group">
                          <label>Email</label>
                          <input type="email" formControlName="email" class="form-control p_input">
                        </div>
                    </div>
                      <div class="form-group">
                    <label>countryCode</label>
                    <input type="text" formControlName="countryCode" class="form-control p_input">
                  </div>
                      <div class="form-group">
                    <label>telephone</label>
                    <input type="text" formControlName="phone" class="form-control p_input">
                  </div>
                  <div class="form-group">
                    <label>Adresse</label>
                    <input type="text" formControlName="adresse" class="form-control p_input">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control p_input">
                  </div>
                  <div class="form-group">
                    <label>Choir votre profil</label>
                    <select class="form-control" formControlName="userType">
                      <option>Choisir un profil</option>
                      <option value="agriculteur">Agriculteur</option>
                      <option value="acheteur">Acheteur</option>
                      <option value="bailleur">Bailleur</option>
                    </select>
                  </div> 
                  <div class="text-center">
                    <button type="submit" [disabled]="addUserForm.invalid" class="btn btn-block btn-primary enter-btn text-light mt-3">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    